@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Outfit:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap'); */

@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', sans-serif;
  /*   */

  /* primary colors */
  --color-accent-pink: #ffb7c5;
  --color-main-indigo: #12203d;

  /* Secndary colors */
  --color-zen-gray: #f5f5f5;
  --color-charcoal-gray: #333333;
  --color-slate: #708090;
  --color-section-bg: #f9fafb;

  /* accent colors */
  --color-cta-red: #f32f2fee;
  --color-cta-hover: rgba(220, 38, 38, 0.9);
  --color-matcha-green: #7ba05b;
  --color-hover-golden: #d4a017;

  --color-card-bg: #eff6ee;
}

::selection {
  background-color: var(--color-cta-red);
  color: #fff;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@utility wide {
  @apply tracking-wide;
}

@utility wrapper {
  @apply relative z-30 mt-5 w-full rounded-sm md:pr-3 2xl:pr-0;
}

@utility article_card {
  @apply grid grid-cols-[repeat(auto-fit,minmax(clamp(250px,25%,340px),1fr))] gap-8 sm:gap-10 md:gap-12 lg:gap-14 2xl:gap-20;
}

@utility top_fade {
  @apply pointer-events-none absolute top-0 left-0 z-10 h-20 w-full bg-gradient-to-b from-white to-transparent;
}

@utility bottom_fade {
  @apply pointer-events-none absolute bottom-0 left-0 z-10 h-14 w-full bg-gradient-to-t from-white to-transparent;
}

@utility home_content {
  @apply relative z-20 w-full px-3;
}

@utility bg-gradient {
  @apply bg-gradient-to-r from-red-400 to-red-600;
}

@layer components {
  main {
    @apply font-outfit w-full overflow-x-hidden;

    .banner {
      @apply hidden md:px-2 lg:block 2xl:px-36;

      > div {
        @apply flex max-w-full flex-row items-center justify-between gap-5 px-5 py-2;
      }

      .left-div {
        @apply flex items-center justify-center gap-1 leading-0;
      }

      .banner_socials {
        @apply flex items-center justify-center gap-6;
      }

      hr {
        @apply mx-auto h-[1px] w-[98%] border-none bg-gray-300;
      }
    }

    nav {
      @apply fixed z-50 w-full bg-white 2xl:px-36;

      div {
        @apply flex max-w-full flex-row items-center justify-between gap-5 py-3 md:px-5 md:py-3;

        .desktop-ul {
          @apply hidden items-center gap-4 lg:flex;

          li {
            @apply relative font-medium tracking-wide;
          }
        }
      }

      .mobile-btn {
        @apply text-main-indigo mr-4 cursor-pointer hover:text-gray-900 focus:text-gray-900 focus:outline-none md:hidden;
      }

      .submenu-btn {
        @apply hover:text-main-indigo focus:text-main-indigo flex cursor-pointer items-center justify-center text-gray-500 transition-colors duration-200 focus:outline-none;
      }

      .dropdown_menu-ul {
        @apply absolute top-full left-0 z-50 mt-3 block w-56 flex-col bg-white text-left shadow-lg hover:text-white;
      }

      .dropdown_menu-ul-link {
        @apply hover:bg-main-indigo block p-4 text-[0.815rem] font-light text-black transition-all duration-200 hover:text-white;
      }

      .contact-btn {
        @apply bg-cta-red hover:bg-cta-hover ml-4 cursor-pointer border px-7 py-3 text-[0.875rem] font-semibold tracking-wide text-white uppercase;
      }

      .desktop-ul-link {
        @apply hover:text-main-indigo flex cursor-pointer items-center gap-1 px-2 py-2 transition-colors duration-200;
      }

      .mobile-menu {
        @apply absolute top-0 left-0 z-20 min-h-dvh w-80 bg-white md:w-[32rem];
      }

      .bg-overlay {
        @apply fixed inset-0 z-10 w-full bg-black/50 backdrop-blur-sm;
      }

      .mobile-ul {
        @apply absolute top-25 right-0 left-0 z-50 flex min-h-dvh w-80 flex-col text-left font-medium md:w-[32rem] md:pr-4;
      }

      .mobile_ul-link {
        @apply block border-b border-b-gray-200 px-4 py-3 text-black transition-all duration-200 hover:bg-gray-100;
      }

      .mobile_ul-btn {
        @apply flex w-full justify-between border-b border-b-gray-200 px-4 py-3 text-left text-black transition-colors duration-200 hover:bg-gray-100 focus:outline-none;
      }

      hr {
        @apply bg-accent-pink absolute top-0 left-0 h-[5px] w-full border-none outline-none;
      }
    }

    /* Hero Section */
    #hero {
      @apply bg-section-bg w-full overflow-x-hidden py-10 2xl:px-40;

      .div-grid {
        @apply grid grid-cols-1 gap-8 px-3 sm:gap-12 md:grid-cols-2 md:px-6 lg:px-5 2xl:px-0;

        button {
          @apply bg-cta-red hover:bg-cta-hover mt-8 cursor-pointer rounded-sm px-8 py-4 text-xs font-semibold text-white uppercase transition-colors duration-200 sm:text-sm;
        }
      }

      img {
        @apply aspect-square w-full object-contain md:h-[30rem];
      }

      .checklist {
        @apply flex flex-col gap-3 text-gray-700;

        div {
          @apply flex items-center gap-2;

          > :first-child {
            @apply text-main-indigo;
          }
        }
      }

      .hero_banner {
        @apply bg-gradient relative mx-3 mt-6 h-60 w-auto overflow-hidden rounded-lg sm:mx-7 sm:mt-10 sm:h-70 md:max-w-4xl lg:mx-auto 2xl:max-w-7xl;

        img {
          @apply absolute inset-0 h-full w-full object-cover opacity-40;
        }

        .content {
          @apply relative z-10 flex h-full w-full flex-col items-center justify-center text-center sm:px-12 sm:text-left md:gap-10 lg:flex-row lg:justify-between lg:gap-0;

          h2 {
            @apply text-main-indigo text-2xl font-bold sm:text-4xl;
          }

          p {
            @apply sm:bg-main-indigo mx-3 mt-1 inline-block max-w-fit px-1 py-1 text-sm font-semibold text-white sm:mx-0 sm:mt-2;
          }

          button {
            @apply bg-main-indigo wide mt-4 cursor-pointer rounded-sm px-8 py-5 text-xs font-semibold text-white hover:bg-gray-900 sm:mt-0 sm:text-sm;
          }
        }
      }
    }

    /* Carousel Section */
    #Carousel {
      @apply relative mt-3 max-w-full select-none;

      > div {
        @apply relative h-[480px] overflow-hidden sm:h-[360px] md:h-[460px] lg:h-[700px];
      }

      .slide_wrapper {
        @apply flex h-full w-full transition-transform duration-700 ease-out;
      }

      .prev_arrow {
        @apply absolute bottom-4 left-3 z-30 cursor-pointer rounded-full bg-white/20 p-2 text-white backdrop-blur-md transition hover:bg-white/30 md:top-1/2 md:bottom-auto md:-translate-y-1/2;
      }

      .next_arrow {
        @apply absolute right-3 bottom-4 z-30 cursor-pointer rounded-full bg-white/20 p-2 text-white backdrop-blur-md transition hover:bg-white/30 md:top-1/2 md:bottom-auto md:-translate-y-1/2;
      }

      .dots {
        @apply absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 items-center justify-center gap-2;

        button {
          @apply h-2.5 w-2.5 cursor-pointer rounded-full transition-all;
        }
      }

      .gradient_overlay {
        @apply absolute inset-0 bg-gradient-to-t from-black/60 via-black/30 to-transparent;
      }

      .overlay_content {
        @apply absolute top-10 left-1/2 z-20 w-full max-w-5xl -translate-x-1/2 px-6 text-center text-white sm:top-1/2 sm:-translate-y-1/2;

        .tagline {
          @apply mx-auto mb-5 flex max-w-fit items-center justify-center gap-2 rounded-full bg-gradient-to-r from-green-500/30 to-blue-500/30 px-5 py-2 text-[9px] font-semibold tracking-wider text-green-200 uppercase shadow-lg backdrop-blur-md sm:mb-4 sm:text-[11px];

          span {
            @apply bg-cta-red h-2 w-2 animate-pulse rounded-full;
          }
        }

        p {
          @apply mb-8 text-sm tracking-wide text-white sm:mb-4 md:text-lg;
        }

        h1 {
          @apply mb-10 text-4xl leading-[2.75rem] font-extrabold tracking-wide text-white drop-shadow-xl md:text-5xl md:leading-[4.25rem] lg:text-6xl;
        }

        button {
          @apply bg-cta-red hover:bg-cta-hover cursor-pointer rounded-sm px-6 py-4 text-xs font-semibold tracking-wider text-white uppercase shadow-lg transition-all duration-300 hover:shadow-2xl md:px-9 md:py-5;
        }
      }
    }

    .home_content,
    #service_section {
      .service_card {
        @apply wide bg-card-bg flex h-full w-full flex-col items-center justify-center rounded-md border border-gray-300 p-5;

        h1 {
          @apply text-main-indigo my-5 text-center text-lg font-semibold sm:text-xl md:text-2xl;
        }

        p {
          @apply text-charcoal-gray max-w-[18.8rem] text-center leading-[1.315rem] sm:max-w-sm;
        }

        button {
          @apply bg-cta-red hover:bg-cta-hover mt-8 mb-4 cursor-pointer rounded-sm px-6 py-3 text-white transition-all duration-300 hover:scale-[1.015];
        }
      }
    }

    /* Used in GridCard Component */
    .cardData_card {
      @apply relative flex w-full flex-col items-center justify-start overflow-hidden;

      img {
        @apply h-[19.45rem] w-full rounded-t-sm object-cover transition-all duration-300;
      }

      .view_btn {
        @apply bg-cta-red hover:bg-cta-hover absolute top-5 right-5 grid cursor-pointer place-items-center rounded-full p-2 text-white;
      }

      span {
        @apply wide bg-zen-gray w-full py-4 text-center text-2xl font-bold;
      }

      h3 {
        @apply wide bg-zen-gray w-full pt-4 pb-1 text-center text-2xl font-bold;
      }

      p {
        @apply wide bg-zen-gray text-charcoal-gray w-full pb-4 text-center;
      }
    }

    /* Home Section */
    #home_test_preparation,
    #home_testimonial,
    #home_ourteam,
    #home_service {
      @apply bg-section-bg w-full overflow-x-hidden pt-8 pb-12 2xl:px-40;
    }

    footer {
      @apply bg-gradient relative w-full overflow-x-hidden py-4 2xl:px-40;

      img {
        @apply absolute inset-0 h-full w-full object-cover opacity-20;
      }

      .grid-links {
        @apply relative z-40 grid w-full grid-cols-1 items-start justify-between gap-10 px-3 py-6 text-[#1A1B25] sm:grid-cols-2 sm:pl-16 lg:grid-cols-[1.2fr_1fr_1fr];
      }

      h2 {
        @apply pb-5 text-[19px] font-bold;
      }

      ul {
        @apply flex flex-col gap-1;
      }

      ul li {
        @apply w-fit text-[17px] transition-colors duration-200 hover:text-gray-200;
      }

      .right-link {
        @apply w-full justify-self-end lg:w-auto;

        > div {
          @apply wide flex flex-col items-start gap-1;

          p {
            @apply flex items-center justify-center gap-3;

            span {
              @apply text-[17px];
            }
          }
        }
      }

      .bottom-div {
        @apply wide flex w-full flex-col items-center justify-between gap-4 border-t border-[#1A1B25] py-6 text-[15px] font-medium sm:flex-row sm:py-4 sm:text-[17px] md:mx-14 md:w-[90%] lg:w-[97%];
      }
    }

    /* Contact Page */
    #contact {
      @apply w-full px-4 py-8 sm:px-10 md:px-20 lg:px-32 xl:px-40;

      .contact_content {
        @apply w-full lg:pb-10 2xl:mx-auto 2xl:max-w-6xl;

        .form_container form {
          @apply grid grid-cols-1 gap-4;

          div {
            @apply flex flex-col md:flex-row md:gap-16;

            input {
              @apply text-main-indigo bg-zen-gray w-full flex-1 border border-black px-6 py-4 outline-none focus:bg-transparent md:py-6;
            }

            :last-child {
              @apply mt-4 md:mt-0;
            }
          }

          textarea {
            @apply bg-zen-gray w-full border border-black px-6 py-4 outline-none md:py-6;
          }

          button {
            @apply bg-cta-red wide hover:bg-cta-hover mx-auto w-fit cursor-pointer rounded-sm px-9 py-5 text-white transition-colors outline-none;
          }
        }
      }
    }

    /* Gallery Page and about/introduction page */
    #gallery_section,
    #about_introduction,
    #about_messageMD,
    #service_section,
    #why_choose_us,
    #faq {
      @apply relative mx-auto max-w-7xl bg-white p-4 md:mt-6 md:p-8;
    }

    /* FAQs Page */
    #faq {
      .faq_content {
        @apply mx-auto max-w-4xl;

        .faq_list {
          @apply mt-6 space-y-4 md:mt-8;

          > div {
            @apply overflow-hidden rounded-lg border border-gray-300 bg-white shadow-sm transition-colors duration-200 hover:bg-gray-100;

            > button {
              @apply flex w-full items-center justify-between p-5 text-left focus:outline-none;

              .faq_icon {
                @apply text-cta-red text-xl;
              }

              h3 {
                @apply text-lg font-medium text-gray-900;
              }
            }

            .faq_answer {
              @apply px-12 pb-5 text-[15px] leading-relaxed text-gray-700;
            }
          }
        }
        .cta {
          @apply mt-16 mb-8 text-center;

          p {
            @apply mb-3 text-gray-700;
          }

          a {
            @apply bg-cta-red hover:bg-cta-hover inline-block rounded-sm px-8 py-3 font-medium text-white shadow-md transition-all;
          }
        }
      }
    }

    /* Custom dot bounce animation for Loading */
    .dot {
      @apply bg-main-indigo h-4 w-4 rounded-full;
      animation: bounce 0.95s infinite alternate;
    }

    .dot:nth-child(1) {
      animation-delay: 0s;
    }

    .dot:nth-child(2) {
      animation-delay: 0.15s;
    }

    .dot:nth-child(3) {
      animation-delay: 0.3s;
    }

    /* Keyframes for the bounce */
    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-25px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
