@import 'tailwindcss';

@theme {
  --color-main-indigo: #12203d;

  /* Secndary colors */
  --color-zen-gray: #f5f5f5;
  --color-charcoal-gray: #333333;
  --color-section-bg: #f9fafb;

  /* accent colors */
  --color-cta-red: #f32f2fee;
  --color-cta-hover: rgba(220, 38, 38, 0.9);
}

::selection {
  background-color: var(--color-cta-red);
  color: #fff;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@layer components {
  /* Custom dot bounce animation for Loading */
  .dot {
    animation: bounce 0.95s infinite alternate;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
  }

  .dot:nth-child(2) {
    animation-delay: 0.15s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.3s;
  }

  /* Keyframes for the bounce */
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
